* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Chewy", system-ui;
}

body {
    background: #8c7895;
}

canvas {
    position: absolute;
    top: 150px;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-align: center;
    color: snow;
    font-size: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media {
    display: none;
}

input {
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    font-family: "Comic Sans MS", cursive;
    background-color: lightskyblue;
    color: darkslateblue;
    border-radius: 8px;
    border: none;
}

input:hover {
    background-color: darkslateblue;
    color: snow;
    cursor: pointer;
    transition: 0.3s;
}

input:active {
    background-color: darkslateblue;
    color: lightskyblue;
}

.controls {
    margin: 0 auto;
    border-radius: 10px;
    background-color: snow;
    color: darkslateblue;
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 2;
}

span {
    color: darkred;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main img {
    max-width: 25%;
}
.main p {
    max-width: 25%;
    font-size: 40px;
    color: snow;
}

@media screen and (max-width: 1050px) {
    .main p {
        font-size: 25px;
    }

}

@media screen and (max-width: 650px) {
    .main p {
        font-size: 20px;
    }
}